# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
build/
dist/

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# Logs
*.log

# ==========================
# VS Code
# ==========================
.vscode/
.history/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# Coverage
.coverage
htmlcov/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Node.js
# ==========================
node_modules/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Vite
dist/

# ==========================
# React
# ==========================
.eslintcache

# ==========================
# Docker
# ==========================
docker-data/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# IDE
# ==========================
.idea/

# ==========================
# Temporary files
# ==========================
*.tmp
*.swp
